body {
  margin: 0;
  font-family: "Futura PT", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

:root {
  --soft-lilac: #efeff6;
  --pale-slate: rgba(196, 196, 196, 0.01);
  --mint-green: #32c076;
  --silver-chalice: #c1c1cb;
  --slate-gray: #424f5e;
  --ghost-white: #f9fafb;
  --body1: "#9494a0";
}
